<div class="profile-background">
  <div class="row">
    
    <div class="col-xs-11 col-sm-7">
      <div class="title">
        <h1>楊雅文 / Wendy</h1> 
        <h5>wen1123wen@gmail.com</h5>
        <h5>技術: Ruby on Rails, sinatra,</h5>
        <h5>TDD( with Fabricator, Faker, Capybara )</h5>
        <h5>html, CSS, SCSS, bootstrap, RWD, git</h5>
      </div>      
      <div class="intro">
        <h2>關於我</h2>
        <h5>生技公司業務專員</h5>
        <h5>中央研究院化學所研究助理</h5>
        <h5>中興大學生物科技學研究所畢業</h5>
      </div>
      <div class="button-area">
        <a href="#portfolio"><button class="btn btn-next">往下看</button></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5">
      <%= image_tag 'wendy_yang.jpg', class:'photo' %>
    </div>
  
  </div>
</div>

<div class="project-background" id='portfolio'>
  <div class="row">
    <div class="text-center">
      <div class="title">
        <h3>作品集</h3>
      </div>
      <div class="intro">
        <h4><a href="https://github.com/wendyburger" target="_blank">Github</a></h4>
        <h4><a href="https://my-awesome-fitness-app.herokuapp.com/" target="_blank">健身討鞭</a></h4>
        <h4><a href="https://my-estukbook-app.herokuapp.com/" target="_blank">網路書店</a></h4>
      </div>
      <div class='icon'>
        <%= image_tag '1461844456_Github.png' %>
        <%= image_tag '1461844232_dumbbell.png' %>
        <%= image_tag '1461844426_LIBRARY_2.png' %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="myfitness-background">
  <div class="container">
    <div class='row'>
      <div class='col-sm-12 text-center'>
          <h2>健身討鞭</h2>
          <h4></h4>
          <p></p> 
      </div>
      <div class="col-sm-4">
        <div class="circle-border">
          <%= image_tag "protein_pancake.jpg", class: 'myfitness-photo' %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class='myfitness-title'>
          <h3>技術</h3>
        </div>

        <div class="myfitness-intro">          
          
          <h4>使用者功能</h4>
          <ul>
            <ul>crypt, password_digest 產生 secure password</ul>
            <ul>session應用(登入、登出)</ul>
            <ul>paperclip, AWS S3 上傳修改 avatar</ul>
            <ul>手刻 authorization</ul>
          </ul>
          
          <h4>討鞭文章</h4>
          <ul>
            <ul>手刻migration、model、controller、view</ul>
            <ul>paperclip, AWS S3 上傳照片</ul>
            <ul>auto_html 呈現 youtube影片</ul>
          </ul>

          <h4>TDD</h4>
          <ul>
            <ul>fabrication, faker 製造資料</ul>
            <ul>shoulda-matchers</ul>
          </ul>

          <h4>前端</h4>
          <ul>
            <ul>bootstrap, font-awesome</ul>
          </ul>
        </div>
      </div>  

      <div class="col-sm-4">
        <div class="myfitness-title">
          <h3>功能</h3>
        </div>
        <div class="myfitness-intro">
          <h4>使用者功能</h4>
          <ul>
            <ul>註冊/修改時可選大頭貼照</ul>
            <ul>註冊/修改時可選時區</ul>
            <ul>關於我可看到使用者發佈的文章及食譜</ul>
            <ul>指派管理員</ul>
          </ul>
          
          <h4>討鞭文章(Post)</h4>
          <ul>
            <ul>文章可貼youtube連結產生影片</ul>
            <ul>文章可上傳照片</ul>
          </ul> 

          <h4>討論文章(Comment)</h4>
          <ul>
            <ul>依部位分類討論文章</ul>
            <ul>文章下方可討論</ul>
          </ul>

          <h4>健身食譜</h4>
          <ul>
            <ul>使用者可上傳食譜照片及作法</ul>
          </ul>       
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="function-background">
  <div class="container">
    <div class="row">

      <div class='col-sm-12 text-center'>
        <h2>網路書店</h2>
        <p></p> 
      </div>

      <div class="col-sm-4">
        <div class="title">
          <h3>功能</h3>
        </div>
        <div class="intro">
          <h4>使用者</h4>
          <ul>
            <ul>註冊/登入/登出/修改個人資料</ul>
            <ul>訪客可看到所有待購書籍(不可購買)</ul>
          </ul>

          <h4>買賣書籍</h4>
          <ul>
            <ul>上傳書圖片及內容(pdf)</ul>
            <ul>自訂價格</ul>
            <ul>checkbox選擇availability</ul>
            <ul>以信用卡付費購買書籍</ul>
          </ul>

          <h4>主控台</h4>
          <ul>
            <ul>列出待賣書籍且可修改新增</ul>
            <ul>列出已買書籍且顯示購買時間</ul>
            <ul>列出購買自己書籍的買家及時間</ul>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="title">
          <h3>技術</h3>
        </div>
        <div class="intro">
          <h4>使用者功能</h4>
          <ul>
            <ul>devise 產生 user's model, views</ul>
            <ul>Client side validation</ul>
            <ul>CanCan authorization</ul>
          </ul> 

          <h4>Books MVC</h4>
          <ul>
            <ul>scaffold 產生 MVC</ul>
            <ul>controller 設定 index 只出現 availibility 的書</ul>
            <ul>加入 User 與 Books 的 association</ul>
            <ul>friendly_id 新增 slug 到 Book model(Pretty URL)</ul>
          </ul>

          <h4>上傳圖片及檔案</h4>
          <ul>
            <ul>install ImageMagick</ul>
            <ul>PaperClip 上傳圖片及檔案</ul>
            <ul>S3 aws-sdk 儲存圖片及檔案</ul>
          </ul>

          <h4>交易系統</h4>
          <ul>
            <ul>stripe 金流</ul>
            <ul>aasm for security</ul>
          </ul>

          <h4>前端</h4>
          <ul>
            <ul>bootstrap</ul>
            <ul>devise stylesheet</ul>
          </ul> 
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle-border">
          <%= image_tag "for_ebook.jpg", class: 'photo' %>
        </div>
      </div>
    </div>
  </div>
</div>






 































